<div class="header-message center">
  <div class='centered-content'>
    <%= link_to image_tag('banner.png', alt: 'Fahrsammlung', class: 'img-responsive banner-welcome'), page_path('fahrsammlung'), title: t('helpers.fahrsammlung') %>
  </div>
  <%= render 'welcome_message' %>
</div>

<script>
    var marker_data = [
        <% @offers.each do |offer| %>
        <% next unless offer.start_latitude && offer.start_longitude %>
        {
            position: {lat: <%= offer.start_latitude %>, lng: <%= offer.start_longitude %>},
            type: 'offer',
            title: '<%= welcome_sanitize offer.title %>',
            location: '<%= welcome_sanitize offer.start_location %>',
            item_id: <%= offer.id %>
        },
        <% end %>
        <% @requests.each do |request| %>
        <% next unless request.start_latitude && request.start_longitude %>
        {
            position: {lat: <%= request.start_latitude %>, lng: <%= request.start_longitude %>},
            type: 'request',
            title: '<%= welcome_sanitize request.title %>',
            location: '<%= welcome_sanitize request.start_location %>',
            item_id: <%= request.id %>
        },
        <% end %>
    ];
</script>

<div id="map"></div>

<%= render partial: 'shared/list_page_header', locals: { count: @offers.count, item: 'offer', header_class: 'welcome-list-header'} %>
<% if @offers.count > 2 %>
  <div class="row">
    <div class="dropdown pull-right" id="sort-button">
      <%= render 'shared/sort_menu' %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="sort">
    <%= render partial: 'offers/list', locals: { offers: @offers } %>
  </div>
</div>

<%= render partial: 'shared/list_page_header', locals: { count: @requests.count, item: 'request', header_class: 'welcome-list-header'} %>
<div class="row">
  <div class="sort">
    <%= render partial: 'requests/list', locals: { requests: @requests } %>
  </div>
</div>
