<h1><%=t 'helpers.fahrsammlung' %></h1>

<p>
  Fahrsammlung <i>(fahren = drive, Sammlung = collection, "Fahrsammlung" sounds like Versammlung = gathering)</i> is a website to meet people for carpooling to
  <%= link_to 'Revive 2019', 'https://www.reviveeurope.org/', target: "_blank" %> in Karlsruhe.
  The website is has been created as a rudimentary modified version of <%= link_to 'Kaheim', 'https://kaheim.de/', target: "_blank" %>
  which is a website for finding roommates that is being used in Karlsruhe.
</p>

<p>
  Fahrsammlung ist eine Seite zum Finden von Mitfahrgelegenheiten zur
  <%= link_to 'Revive 2019', 'https://www.reviveeurope.org/', target: "_blank" %> in Karlsruhe.
  Entstanden ist sie als eine rudimentär variierte Version der Software von <%= link_to 'Kaheim', 'https://kaheim.de/', target: "_blank" %>,
  einer Zimmerbörse, die in Karlsruhe genutzt wird.
</p>
