<% content_for :title, @offer.title %>

<div class="page-header">
  <h1>
    <%=t '.title', name: @offer.owner_name %>
    <% if current_user&.admin? %>
      <%= link_to @offer.blocked? ? 'Freischalten' : 'Sperren', @offer.blocked? ? unblock_admin_offer_path(@offer) : block_admin_offer_path(@offer), method: :put, class: 'btn btn-default' %>
    <% end %>
  </h1>
</div>

<div class="item">

  <div class="request-edit-link" data-id="<%= @offer.id %>" data-type="offer">
    <div class="inline-button toggle-collapse">
      <div class="short"><%= t 'items.show.edit' %>
        <i class="fa fa-pencil"></i>
      </div>
      <div class="long"><%= t 'helpers.less' %>&#x25B2;</div>
    </div>
  </div>

  <div class="request-edit-link-form">
    <div class="short transition"></div>
    <div class="long transition">
      <p><%= t('items.request_edit_link.info_general') %></p>
      <p><%= t('items.request_edit_link.info_send_again') %></p>
      <%= render 'offers/request_edit_link_form', item: @offer %>
    </div>
  </div>

  <%= badges_for @offer %>
  <div class="title"><strong><%= @offer.title %></strong></div>

  <div class="until">
    <table class="offer-specifics">
      <tbody>
      <tr>
        <td class="icon">
          <i class="fas fa-car-side"></i>
        </td>
        <td class="info">
          <%= @offer.seat_count %>
        </td>
        <td class="icon">
          <i class="fas fa-calendar"></i>
        </td>
        <td class="info">
          <%= l @offer.start_date, format: :with_weekday %>
        </td>
      </tr>
      <tr>
        <td class="icon">
          <i class="fas fa-home"></i>
        </td>
        <td class="info">
          <%= @offer.start_location %>
        </td>
        <td class="icon">
          <i class="fas fa-clock"></i>
        </td>
        <td class="info">
          <%= @offer.start_time %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="description">
    <%= auto_link simple_format(@offer.description) %>
  </div>

  <%= render 'answers/form', answer: @answer ||= @offer.answers.build %>
</div>

<hr />

<div class="form-actions">
  <%= link_to t('helpers.links.back'), offers_path, class: 'btn btn-default' %>
</div>
